/*  CONFIGURAR MEDIDAS 
*
*   Com esse trecho podemos simplificar o uso de rem
*   Basta dividir o valor em pixels(px) por 10
*   Exemplo: Ao invés de 20px use 2rem
*/
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* RESETAR CSS */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
